$body-text-color:#2E2E2E;
$font-family1:'Roboto';
$color-title:#DD2747;


$--narrativ-color-progress:#4169E1;
$--narrativ-color-progress-hover:#5B88FF;
$--narrativ-color-fill:#90AEFF;
$--narrativ-color-text:#414141;
$--narrativ-color-text-hover:#606060;
$--narrativ-font-family:'Roboto';
$--narrativ-font-size:12px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin contentView() {
    display: flex;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
}

body {
    color: $body-text-color;
    padding: 0 0 48px;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.clm {
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 0;

    img {
        max-width: 100%;
    }
}

.content {
    @include contentView();
}

.date_box {
    width: 100%;
    @include contentView();
    margin: 12px auto 32px;

    .date_text {
        font-family: $font-family1, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}

.title {
    font-family: $font-family1, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    @include contentView();
}



.main_img {
    @include contentView();
    margin: 64px auto 0;
}


.article_box {
    @include contentView();
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 64px;

    &.recent_posts_box {
        .row {
            width: 100%;
            justify-content: space-between;
        }

        .clm {
            max-width: 30%;
        }

        .poster {
            max-width: 100%;
            margin: 0 0 8px;
        }

        .text {
            line-height: 28px;
        }
    }

    .h2_title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        margin: 0 0 32px;

        &.red {
            color: $color-title;
        }
    }

    .text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin: 32px 0 0;

        &:first-of-type {
            margin: 0;
        }

        a {
            color: #78A880;
            cursor: pointer;
        }
    }

    .poster {
        max-width: 284px;
        margin-left: 32px;
    }
}

.player_section {
    @include contentView();
    background: #F5F5F5;
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
    padding: 21px 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    margin-top: 24px;

    .info_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .volume_text {
            display: none;
        }
    }

    .title_box {
        display: flex;
        max-width: 320px;
        align-items: center;
        justify-content: flex-start;

        img {
            max-width: 80px;
            margin: 0 16px 0 0;
        }

        .current_title {
            font-family: $--narrativ-font-family, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            cursor: default;

            &:hover {
                color: $--narrativ-color-progress-hover;
            }
        }
    }

    .volume_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .volume_text {
        font-family: $--narrativ-font-family, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #999999;

        img {
            max-width: 65px;
            // margin: 0 0 0 4px;
        }
    }

}

.speed {
    position: absolute;
    left: 0;
    transition: all .2s;

    .speedValue {
        font-family: $--narrativ-font-family, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $--narrativ-color-text;
        cursor: pointer;
        margin: 0 5px;

        &:hover {
            color: $--narrativ-color-text-hover;
        }

        &.active {
            color: $body-text-color;
        }
    }

    .speedPop_Up {
        background: #F5F5F5;
        box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 16px 11px;
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 120%;
        left: -130px;
        z-index: 10;

        &.show {
            visibility: visible;
        }
    }




}

.controler_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 20px;

    .play_btn {
        width: 51px;
        height: 51px;
        background-color: $--narrativ-color-progress;
        border-radius: 33.275px;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0 17px;
        background-image: url("../img/play.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        transition: all .2s;

        &.pause {
            background-image: url("../img/pause.svg");
        }

        &:hover {
            background-color: #5B88FF;
        }
    }

    .return {
        width: 30px;
        height: 35px;
        background-color: transparent;
        background-image: url('../img/return.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s;

        &:hover {
            background-image: url('../img/return-hover.svg');
        }

        &::after {
            content: '15';
            position: absolute;
            color: $--narrativ-color-text;
            font-size: 10px;
            font-weight: bold;
            padding: 6px 0 0;
            font-family: $font-family1;
            transition: all .2s;
        }

        &:hover::after {
            color: $--narrativ-color-text-hover;
        }

        &.return_forward {
            transform: scaleX(-1);

            &::after {
                transform: scaleX(-1);
            }
        }
    }

}


.volume {
    margin: 0 0 20px;
    display: flex;
    align-items: center;

    .volume_icon {
        margin: 0 11px 0 0;
        max-width: 20px;
        width: 20px;
        height: 18px;
        background-image: url("../img/volume.svg");
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: 17px;
        transition: all .2s;

        &.mute {
            background-image: url("../img/mute.svg");
            background-size: 20px;

            &:hover {
                background-image: url("../img/mute-hover.svg");
            }
        }

        &:hover {
            background-image: url("../img/volume-hover.svg");
        }
    }

    input {
        display: inline-block;
        vertical-align: middle;
        font-size: 1em;
        font-family: Arial, sans-serif;
    }

    input[type="range"] {
        -webkit-appearance: none;
        width: 143px;
        height: 4px;
        background: $--narrativ-color-fill;
        border-radius: 16px;
        background-image: linear-gradient($--narrativ-color-progress, $--narrativ-color-progress);
        background-size: 70% 100%;
        background-repeat: no-repeat;

        // transition: background .2s ease-in-out;
        &.mute {
            background-size: 0% 100% !important;

            &::-webkit-slider-thumb {
                position: absolute;
                top: -6px;
            }

            &::-moz-range-thumb {
                position: absolute;
                top: -6px;
            }

            &::-ms-thumb {
                position: absolute;
                top: -6px;
            }
        }

        &:hover {
            background-image: linear-gradient($--narrativ-color-progress-hover, $--narrativ-color-progress-hover);

            &::-webkit-slider-thumb {
                background: $--narrativ-color-progress-hover;
            }

            &::-moz-range-thumb {
                background: $--narrativ-color-progress-hover;
            }

            &::-ms-thumb {
                background: $--narrativ-color-progress-hover;
            }

        }


    }

    /* Input Thumb */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: $--narrativ-color-progress;
        cursor: pointer;
        // transition: background .2s ease-in-out;
    }

    input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: $--narrativ-color-progress;
        cursor: pointer;
        // transition: background .2s ease-in-out;
    }

    input[type="range"]::-ms-thumb {
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: $--narrativ-color-progress;
        cursor: pointer;
        // transition: background .2s ease-in-out;
    }

    /* Input Track */
    input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
        position: relative;
    }

    input[type=range]::-moz-range-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
        position: relative;
    }

    input[type="range"]::-ms-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
        position: relative;
    }

}





.audio_player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #currentTime,
    #durationTime {
        font-weight: 500;
        font-size: $--narrativ-font-size;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: $--narrativ-color-text;
        font-family: $--narrativ-font-family, sans-serif;
        min-width: 30px;
        cursor: default;
    }

    .timeline {
        background: $--narrativ-color-fill;
        width: 446px;
        height: 4px;
        position: relative;
        cursor: pointer;
        margin: 0 8px;
        border-radius: 16px;

        &:hover {
            .progress {
                background: $--narrativ-color-progress-hover;

                &::after {
                    background-color: $--narrativ-color-progress-hover;
                }
            }
        }


        .progress {
            background: $--narrativ-color-progress;
            width: 0%;
            height: 100%;
            transition: 0.25s;
            position: relative;
            border-radius: 16px 0 0 16px;

            &::after {
                content: "";
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $--narrativ-color-progress;
                position: absolute;
                right: -5px;
                top: -4px;
            }
        }
    }

}



@media all and (max-width:1200px) {
    @mixin contentView() {
        max-width: 900px;
    }

    .content,
    .date_box,
    .title,
    .player_section,
    .main_img,
    .article_box {
        @include contentView();
    }

    .audio_player {
        .timeline {
            width: 300px;
        }

    }

    .player_section {
        .title_box {
            .current_title {
                font-size: 16px;
                max-width: 150px;
            }
        }
    }

}

@media all and (max-width:900px) {
    @mixin contentView() {
        max-width: 600px;
    }

    .content,
    .date_box,
    .title,
    .player_section,
    .main_img,
    .article_box {
        @include contentView();
    }

    .article_box {
        .row {
            flex-wrap: wrap-reverse;
        }

        .poster {
            margin: 0 0 8px;
        }

        &.recent_posts_box {
            .row {
                align-items: flex-end;
            }
        }
    }

    .player_section {
        flex-direction: column;


        .title_box {
            max-width: 100%;
            width: 100%;

            .current_title {
                max-width: inherit;
            }
        }

        .info_box {
            flex-direction: column-reverse;

            .volume_text {
                display: block;
                margin: 0 0 8px;
            }
        }

        .volume_box {
            display: none;
        }

        .volume_text {
            img {
                margin: 0 0 0 3px;
            }
        }
    }

    .player_box {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .controler_box {
        margin: 0;
    }

    .audio_player {
        width: 100%;
        margin: 12px 0 37px;
        position: relative;

        .timeline {
            width: 100%;
            margin: 0;
        }

        #durationTime,
        #currentTime {
            position: absolute;
            top: calc(100% + 10px);
        }

        #durationTime {
            left: 0;
        }

        #currentTime {
            right: 0;
        }
    }
}

@media all and (max-width:500px) {
    @mixin contentView() {
        max-width: 100%;
        padding: 0 24px;
    }

    .content,
    .date_box,
    .title,
    .player_section,
    .main_img,
    .article_box {
        @include contentView();
    }

    .player_section {
        padding: 16px 16px 20px;
    }

    #player_here {
        padding: 0 24px;
    }

    .article_box {
        .text {
            font-size: 20px;
            line-height: 23px;
        }

        .h2_title {
            font-size: 24px;
            line-height: 28px;
        }

        &.recent_posts_box {
            .row {
                flex-wrap: wrap;

                .clm {
                    width: 100%;
                    max-width: 100%;
                    margin: 0 0 20px;
                }
            }
        }
    }




}